.checkoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 8rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto;
  margin-top: 4rem;
}

.written {
  font-family: "FiveSerifLightItalic";
  display: inline;
}

p,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: white;
}
