.imgbands {
  margin-right: 5%;
  margin-left: 5%;

  width: 90%;
  height: 85%;
  z-index: -1;
  position: absolute;
}

.credits {
  width: 90%;
  margin-left: 5%;
  position: absolute;
  bottom: 10%;
}

.members {
  color: white;
  font-size: 4rem;
  margin: 2rem;
}
.genre {
  color: white;
  font-size: 1rem;
  margin: 1rem;
}
.bio {
  color: white;
  font-size: 2rem;
  margin: 2rem 10rem;
}
.box5 {
  border: 2px solid rgba(241, 63, 167, 0);
  height: 50rem;
}

.info {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 0 10%;
}

.titel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;
  font-size: 130px;
  text-transform: uppercase;
  color: white;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15rem;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  width: 60%;
}

.invis {
  height: 27rem;
}

@media (max-width: 1500px) {
  .invis {
    height: 27rem;
  }
}
@media (max-width: 1400px) {
  .invis {
    height: 25rem;
  }
}
@media (max-width: 1300px) {
  .invis {
    height: 23rem;
  }
}
@media (max-width: 1200px) {
  .invis {
    height: 21rem;
  }
}
@media (max-width: 1100px) {
  .invis {
    height: 19rem;
  }
}
@media (max-width: 1000px) {
  .invis {
    height: 17rem;
  }
}
