.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 800px) {
  .gridContainer {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .flexArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 20rem;
  }

  .spotdetails,
  .tentgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17rem;
  }
}

@media (max-width: 800px) {
  .ptext {
    font-size: 1rem;
  }

  button {
    font-size: 2px;
  }
}
