article {
  display: grid;
  grid-template-columns: 1fr;
  border: none;
}

img,
section {
  grid-area: 1/-1;
}

.overlay {
  background-color: black;
  opacity: 0.3;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

h2,
.link {
  text-align: center;
  color: white;
}
