.flexArea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border: 1px solid rgb(255, 255, 255);
  width: 60%;
  gap: 0.5rem;
  color: white;

  font-size: 20px;
}
.areaInput {
  margin: 0.5rem;
}
.detailsBasket {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  border: 1px solid #fff;
  padding: 0.5em;
  appearance: none;
}
input[type="radio"]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 9px 9px;
}

input[type="radio"]:focus {
  outline-color: transparent;
}
/* Radio Button */
.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5rem;
  margin: auto;
  margin-top: 5%;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.amount input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 2rem;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}
.amount button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 3rem;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.amount button:hover {
  cursor: pointer;
}
.amount label {
  margin-left: 5%;
}

.spotdetails {
  margin-top: -20%;
  width: 60%;
}
.tentgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  color: white;
  text-align: center;
  font-size: 25px;
  margin-top: 2rem;
  text-transform: uppercase;
}
.tentgrid button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.tentgrid button:hover {
  cursor: pointer;
}

.tent1,
.tent2 {
  border: 2px solid rgb(255, 255, 255);
  padding: 2rem;
}

@media (max-width: 800px) {
  .amount {
    display: flex;
    flex-direction: column;
    height: 10rem;
  }
  .flexArea {
    display: flex;
    justify-content: center;
  }
  .flexAreaDiv {
    display: flex;
    justify-content: center;
  }

  .tentgrid {
    display: flex;
    gap: 1rem;
  }
}
