.formGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
  color: white;
  font-size: 20px;
}

.formGrid > * {
  margin: 0.5rem 0;
}

.formGrid button {
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 5rem;
  margin: 3rem;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
}
.formGrid button:hover {
  cursor: pointer;
}

.formGrid label {
  padding-top: 2rem;
}
.formGrid input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 2rem;
  margin: auto;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

@media only screen and (max-width: 800px) {
  .formGrid {
    display: flex;
    flex-direction: column;
  }
}
