.titel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;
  font-size: 130px;
  text-transform: uppercase;
  color: white;
}

.invis {
  height: 26rem;
}
