.titel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15rem;

  font-size: 130px;
  text-transform: uppercase;
  color: white;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15rem;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  width: 60%;
}
.arrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.icon {
  font-size: 40px;
}

.invis {
  height: 0rem;
}

@media (max-width: 1500px) {
  .invis {
    height: 27rem;
  }
}
@media (max-width: 1400px) {
  .invis {
    height: 25rem;
  }
}
@media (max-width: 1300px) {
  .invis {
    height: 23rem;
  }
}
@media (max-width: 1200px) {
  .invis {
    height: 21rem;
  }
}
@media (max-width: 1100px) {
  .invis {
    height: 19rem;
  }
}
@media (max-width: 1000px) {
  .invis {
    height: 17rem;
  }
}

@media (max-width: 800px) {
  .titel {
    font-size: 5rem;
  }
  .text {
    font-size: 2rem;
  }
}
