.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "nocontent1 pic1 pic2 pic3"
    "pic4 pic5 pic6 nocontent2"
    "pic7 nocontent3 pic8 pic9";
  margin: 15rem;
  justify-content: center;
}
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}

.pic1 {
  grid-area: pic1;
}

.pic2 {
  grid-area: pic2;
}

.pic3 {
  grid-area: pic3;
}

.pic4 {
  grid-area: pic4;
}

.pic5 {
  grid-area: pic5;
}

.pic6 {
  grid-area: pic6;
}

.nocontent2 {
  grid-area: nocontent2;
}

.nocontent1 {
  grid-area: nocontent1;
}

.pic7 {
  grid-area: pic7;
}

.nocontent3 {
  grid-area: nocontent3;
}

.pic8 {
  grid-area: pic8;
}

.pic9 {
  grid-area: pic9;
}
