.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 5rem;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
@media (max-width: 800px) {
  .btn {
    font-size: 1rem;
  }
}
