.oneScene {
  width: 50%;
  margin: 0 auto;
}

.oneDay {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

h3 {
  color: white;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 4rem;
  border-bottom: 2px solid rgba(255, 0, 0, 0);
}

h4 {
  font-size: 1.5rem;
}

h4,
h5 {
  color: white;
  text-align: center;
}

.day {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  text-align: left;
}

.bands {
  padding: 0.5rem;
}

.ProgramSectionGrid {
  display: flex;
  flex-direction: column;
}
