.oneScene {
}

.oneDay {
  border-top: solid white 2px;
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: white;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

h3 {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
}

h4,
h5 {
  color: white;
  text-align: center;
}
