.ticketCard {
  color: white;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
}
.ticketname {
  font-size: 40px;
  margin-top: 1rem;
}
.ticketprice {
  font-size: 70px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.basketbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 5rem;
  margin: auto;

  font-size: 20px;
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.basketbtn:hover {
  cursor: pointer;
}
